<div class="main-links-wrap">
	<div class="ml-slider" id="slider-idx">
		<ul>
			<%= @slides.each do |slide| %>
			<li>
				<%= image_tag(slide.img.url(:content)) %>
			</li>
			<% end %>
		</ul>
		
		<span class="ml-mask"></span>
	</div>

	<span class="ml-yellow"><a href="#">О нас</a></span>
	
	<ul class="ml-green">
		<% @categories.each do |category| %>
		<li><%= link_to category.title, category %></li>
		<% end %>
	</ul>

	<ul class="ml-grey">
		<li><a href="#">Стать резидентом</a></li>
		<li><a href="#">Для инвесторов</a></li>
	</ul>
	
	<span class="ml-orange"><a href="/news">Новости, мероприятия</a></span>
	
	<a href="/" title="На главную" class="logo">Технопарк Политехнический</a>
</div>

<div class="main-text content">
antrieprienier, aviapolk, bielaia, bielokozhii, bielyi, biuro, biznies, bizniesmien, blizkii, chieloviek, closeup, dal'shie, dielo, dielo, dievchonka, dievitsa, dievochka, dievushka, do, dolzhnost', ekziek'iutiv, etnichieskii, etnichiesko, fasad front, fizionomiia, ghran', ghrimasa, ghromchie, ghruppa, ghruppirovat', iazychieskii, ievropieiets, ievropieika, ievropieiskii, ievropieoid, ievropieoidnoi, ievropieoidnyi, imidzh, iov, iunyi, izobrazhieniie, kabiniet, kadry, kantsieliariia, kavkaziets, kavkazskii, kavkazsko, kolliegha, kolliektiv, kolliektivnyi, komanda, kommiersantka, antrieprienier, aviapolk, bielaia, bielokozhii, bielyi, biuro, biznies, bizniesmien, blizkii, chieloviek, closeup, dal'shie, dielo, dielo, dievchonka, dievitsa, dievochka, dievushka, do, dolzhnost', ekziek'iutiv, etnichieskii, etnichiesko, fasad front, fizionomiia, ghran', ghrimasa, ghromchie, ghruppa, ghruppirovat', iazychieskii, ievropieiets, ievropieika, ievropieiskii, ievropieoid, ievropieoidnoi, ievropieoidnyi, imidzh, iov, iunyi, izobrazhieniie, kabiniet, kadry, kantsieliariia, kavkaziets, kavkazskii, kavkazsko, kolliegha, kolliektiv, kolliektivnyi, komanda, kommiersantka, antrieprienier, aviapolk, bielaia, bielokozhii, bielyi, biuro, biznies, bizniesmien, blizkii, chieloviek, closeup, dal'shie, dielo, dielo, dievchonka, dievitsa, dievochka, dievushka, do, dolzhnost', ekziek'iutiv, etnichieskii, etnichiesko, fasad front, fizionomiia, ghran', ghrimasa, ghromchie, ghruppa, ghruppirovat', iazychieskii, ievropieiets, ievropieika, ievropieiskii, ievropieoid, ievropieoidnoi, ievropieoidnyi, imidzh, iov, iunyi, izobrazhieniie, kabiniet, kadry, kantsieliariia, kavkaziets, kavkazskii, kavkazsko, kolliegha, kolliektiv, kolliektivnyi, komanda, kommiersantka, 
</div>