<div class="main-links-wrap">
	<div class="ml-slider" id="slider-idx">
		<ul>
			<%= @slides.each do |slide| %>
			<li>
				<%= image_tag(slide.img.url(:content)) %>
			</li>
			<% end %>
		</ul>
		
		<span class="ml-mask"></span>
	</div>

	<span class="ml-yellow"><a href="#">О нас</a></span>
	
	<ul class="ml-green">
		<% @categories.each do |category| %>
		<li><%= link_to category.title, category %></li>
		<% end %>
	</ul>

	<ul class="ml-grey">
		<li><a href="#">Стать резидентом</a></li>
		<li><a href="#">Для инвесторов</a></li>
	</ul>
	
	<span class="ml-orange"><a href="/news">Новости, мероприятия</a></span>
	
	<a href="/" title="На главную" class="logo">Технопарк Политехнический</a>
</div>

<div class="main-text content">
</div>