<div id="middle">
	<div id="left">
		<ul class="l-menu nav" data-spy="affix" data-offset-top="325">
			<% @tags.each do |tag| %>
			<li><a href="#<%= tag.id %>"><%= tag.title %></a></li>
			<% end %>
		</ul>
	</div>
	<div id="right">
		<span class="h1"><%= image_tag("h1-news.png") %></span>
		
		<dl class="news-list">
			<dt><span>Срок службы в армии увеличиваться не будет</span><i>18.02.2013</i></dt>
			<dd class="content">
				<div class="nl-preview-text">В полном объеме нужно реализовать решения об объеме нужно реализовать решения оснащении вооруженных сил новой техникой.</div>
				<div class="nl-other-text">Путин и указал Минобороны строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро".</div>
				<a href="#" class="nl-detail-link">показать новость полностью</a>
			</dd>
			
			<dt><span>Срок службы в армии увеличиваться не будет</span><i>18.02.2013</i></dt>
			<dd class="content">
				<div class="nl-preview-text">В полном объеме нужно реализовать решения об объеме нужно реализовать решения оснащении вооруженных сил новой техникой.</div>
				<div class="nl-other-text">Путин и указал Минобороны строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро".</div>
				<a href="#" class="nl-detail-link">показать новость полностью</a>
			</dd>
			
			<dt><span>Срок службы в армии увеличиваться не будет</span><i>18.02.2013</i></dt>
			<dd class="content">
				<div class="nl-preview-text">В полном объеме нужно реализовать решения об объеме нужно реализовать решения оснащении вооруженных сил новой техникой.</div>
				<div class="nl-other-text">Путин и указал Минобороны строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро".</div>
				<a href="#" class="nl-detail-link">показать новость полностью</a>
			</dd>
			
			<dt><span>Срок службы в армии увеличиваться не будет</span><i>18.02.2013</i></dt>
			<dd class="content">
				<div class="nl-preview-text">В полном объеме нужно реализовать решения об объеме нужно реализовать решения оснащении вооруженных сил новой техникой.</div>
				<div class="nl-other-text">Путин и указал Минобороны строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро".</div>
				<a href="#" class="nl-detail-link">показать новость полностью</a>
			</dd>
			
			<dt><span>Срок службы в армии увеличиваться не будет</span><i>18.02.2013</i></dt>
			<dd class="content">
				<div class="nl-preview-text">В полном объеме нужно реализовать решения об объеме нужно реализовать решения оснащении вооруженных сил новой техникой.</div>
				<div class="nl-other-text">Путин и указал Минобороны строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро" строго следовать параметрам госпрограммы вооружений, "быть в тесном контакте с каждым конкретным заводом или конструкторским бюро".</div>
				<a href="#" class="nl-detail-link">показать новость полностью</a>
			</dd>
		</dl>
	</div>
</div>