<div id="middle">
	<div id="left">
	</div>
	<div id="right" class="content">
		<span class="h1"><%= if @page.img? then image_tag(@page.img.url(:medium)) end %></span>
		<%= @page.text.html_safe %>
	</div>
</div>