<div class="h-wrap">
	<div id="header">
	    
		<a href="/" title="На главную" class="logo">Технопарк Политехнический</a>
		<ul>
			<% Category.all.each do |category| %>
			<li><%= link_to category.title, category, :class => ('active' if category == @category) %></li>
			<% end %>
			<li><%= link_to "Новости", news_path, :class => ('active' if controller_name == "events") %></li>
		</ul>
	</div>
</div>